.has-primary-background-color {
    background-color: var(--purple-500);
}

.has-primary-color {
    color: var(--purple-500);
}

.has-secondary-background-color {
    background-color: var(--black);
}

.has-secondary-color {
    color: var(--black);
}

.has-tertiary-background-color {
    background-color: var(--white);
}

.has-tertiary-color {
    color: var(--white);
}

.has-purple-50-background-color {
    background-color: var(--purple-50);
}

.has-purple-50-color {
    color: var(--purple-50);
}

.has-purple-100-background-color {
    background-color: var(--purple-100);
}

.has-purple-100-color {
    color: var(--purple-100);
}

.has-purple-200-background-color {
    background-color: var(--purple-200);
}

.has-purple-200-color {
    color: var(--purple-200);
}

.has-purple-300-background-color {
    background-color: var(--purple-300);
}

.has-purple-300-color {
    color: var(--purple-300);
}

.has-purple-400-background-color {
    background-color: var(--purple-400);
}

.has-purple-400-color {
    color: var(--purple-400);
}

.has-purple-500-background-color {
    background-color: var(--purple-500);
}

.has-purple-500-color {
    color: var(--purple-500);
}

.has-purple-600-background-color {
    background-color: var(--purple-600);
}

.has-purple-600-color {
    color: var(--purple-600);
}

.has-purple-700-background-color {
    background-color: var(--purple-700);
}

.has-purple-700-color {
    color: var(--purple-700);
}

.has-purple-800-background-color {
    background-color: var(--purple-800);
}

.has-purple-800-color {
    color: var(--purple-800);
}

.has-purple-900-background-color {
    background-color: var(--purple-900);
}

.has-purple-900-color {
    color: var(--purple-900);
}

.has-gray-100-background-color {
    background-color: var(--gray-100);
}

.has-gray-100-color {
    color: var(--gray-100);
}

.has-gray-200-background-color {
    background-color: var(--gray-200);
}

.has-gray-200-color {
    color: var(--gray-200);
}

.has-gray-300-background-color {
    background-color: var(--gray-300);
}

.has-gray-300-color {
    color: var(--gray-300);
}

.has-gray-400-background-color {
    background-color: var(--gray-400);
}

.has-gray-400-color {
    color: var(--gray-400);
}

.has-gray-500-background-color {
    background-color: var(--gray-500);
}

.has-gray-500-color {
    color: var(--gray-500);
}

.has-gray-600-background-color {
    background-color: var(--gray-600);
}

.has-gray-600-color {
    color: var(--gray-600);
}

.has-gray-700-background-color {
    background-color: var(--gray-700);
}

.has-gray-700-color {
    color: var(--gray-700);
}

.has-gray-800-background-color {
    background-color: var(--gray-800);
}

.has-gray-800-color {
    color: var(--gray-800);
}

.has-gray-900-background-color {
    background-color: var(--gray-900);
}

.has-gray-900-color {
    color: var(--gray-900);
}
