:root {
    //  Primary Colors

    --purple-50: #F4EEFE;
    --purple-100: #DECAFA;
    --purple-200: #CDB0F8;
    --purple-300: #B78CF5;
    --purple-400: #A976F3;
    --purple-500: #9354F0;
    --purple-600: #864CDA;
    --purple-700: #683CAA;
    --purple-800: #512E84;
    --purple-900: #3E2365;


    // Gray Colors

    --gray-100: #F5F6FA;
    --gray-200: #DFE1E8;
    --gray-300: #C0C3CC;
    --gray-400: #ABAFBA;
    --gray-500: #979BA6;
    --gray-600: #787C87;
    --gray-700: #5C5F69;
    --gray-800: #393B42;
    --gray-900: #0A0B0D;

    // Neutral

    --white: #fff;
    --black: #000;

    // Variables

    --font-body: 'Inter', sans-serif;
    --font-title: 'Interstate', sans-serif;
    --header-height: 9rem;

}
